.page-title{padding:15px 0; background:#367cd2;}
.page-title h1{color:#fff; font-size:40px; margin:0}

.gallery {padding:4% 0;background:#eaf1f9;}
.gallery .item{margin-bottom:30px;}
.gallery .item img{border:solid 7px #ffffff; box-shadow:5px 5px 0 #d2e1f3}



