.page-title{padding:15px 0; background:#367cd2;}
.page-title h1{color:#fff; font-size:40px; margin:0}

.services-sec-two {text-align:center; padding:4% 0}
.services-sec-two  h2{font-size:35px; font-weight:300; margin:0 0 20px 0}
.services-sec-two p{text-align:center; padding:0; padding:0 8%; margin:0}

.services {margin-bottom:80px} .mrg-2 {margin-top:50px;}
.services .services-boxes .item, .services .services-boxes .ser-inner-boxes .item{background:#eaf1f9; padding:50px 25px; text-align:center; margin-bottom:30px; min-height:366px; }
.services .services-boxes .item:hover, .services .services-boxes .ser-inner-boxes .item:hover {background:#bbd8f9; text-shadow:0 1px 10px #fff}
.services .services-boxes .item i{font-size:130px; color:#fc9f03}

.services-boxes  h2, .services-boxes  p {text-align:center;}
.ser-inner-boxes h2, .ser-inner-boxes  p {text-align:left; margin-top:0px; margin-bottom:14px;}

.services .services-boxes .ser-inner-boxes .item {min-height:170px; padding:40px 25px 20px; }

.services{
    color: rgb(0, 0, 0) !important;
  }
  
  .services-sec-two h2{
    color: #ffffff;

  }

  footer h1, footer h2, footer h3, footer h4, footer h5  {
    color: #ffffff;

  }

  h1, h2, h3, h4, h5 {
    color: #111111;
    text-shadow: 2px 3px 15px #414141;
    font-family: 'Montserrat', sans-serif;
}